.header{
    background-color: rgb(247, 100, 245);
    display: flex;
    justify-content: space-between;
    padding: 10px 150px;
    h3{
        color: #fff;
    }
    .menu{
        ul{
            margin-top: 10px;
            li{
                display: inline-block;
                list-style: none;
                a{
                    color:#ffffff;
                    background-color: rgb(0, 0, 0);
                    padding: 6px 20px;
                    margin-right: 6px;
                    border-radius: 20px;
                    text-decoration: none;
                }
            }
        }
    }
}