.single-product-page{
    display: flex;
    .left-sec{
        width: 50%;
        padding: 0px 20px;
        img{
            width: 100%;
        }
    }
    .right-sec{
        width: 50%;
        padding: 0px 20px;
        border-left: 1px solid #999;
        display: flex;
        flex-flow: column;
        justify-content: center;
        .product-name{
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 20px;
        }
        .pro-price{
            display: flex;
            margin-bottom: 30px;
            .reg-price{
                text-decoration: line-through; margin-right: 15px;
                font-size: 30px;
                font-weight: 700;
                color: #6a6868;
            }
            .sell-price{
                font-size: 30px;
                font-weight: 700;
            }
        }
    }
}